// PLAIN COLOR VARIABLES
//----------------------------------------------
// BLACK
$black-1: #000;
$black-2: #151415;

// GRAY
$gray-1: #585858;

// WHITE
$white: #fff;

// Helpers
$transparent: transparent;


// RELATED VARIABLES
//----------------------------------------------
// BUTTONS
// $button-primary: #NothingYet;
// $button-primary-hover: #NothingYet;

// TEXT
// $text-black: #NothingYet;

// SECTION HEADERS
// $section-headline-color: #NothingYet;
// $section-sub-headline-color: #NothingYet;

// Navigation color
// $nav-background: #NothingYet;
// $nav-copy: #NothingYet;
// $nav-tab-hover: #NothingYet;